A:link {
	COLOR: #999999;
	TEXT-DECORATION: none;
	font-size: 13px;
	font-family: "MS Sans Serif", Tahoma, sans-serif;


}
A:visited {
	COLOR: #333333;
	TEXT-DECORATION: none;
	font-size: 13px;
	font-family: "MS Sans Serif", Tahoma, sans-serif;


}
A:hover {
	COLOR: #CCCCCC;
	TEXT-DECORATION: none;
	font-size: 13px;
	font-family: "MS Sans Serif", Tahoma, sans-serif;


}
A:active {
	COLOR: #FF0000;
	TEXT-DECORATION: none;
	font-size: 13px;
	font-family: "MS Sans Serif", Tahoma, sans-serif;


}
.text {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textthai {
	FONT-SIZE: 11px; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regBlack_10 {
	FONT-SIZE: 10px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regBlack_11 {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regBlackEng_11 {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Arial, Verdana, Helvetica
}
.regBlack_12 {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regBlack_13 {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regBlack_14 {
	FONT-SIZE: 14px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regBlack_15 {
	FONT-SIZE: 15px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regBlack_16 {
	FONT-SIZE: 16px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldBlack_10 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldBlack_11 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldBlack_12 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldBlack_13 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldBlack_14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldBlack_15 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldBlack_16 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.udlineBlack_10 {
	FONT-SIZE: 10px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineBlack_11 {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineBlack_12 {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineBlack_13 {
	FONT-SIZE: 13px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineBlack_14 {
	FONT-SIZE: 14px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineBlack_15 {
	FONT-SIZE: 15px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineBlack_16 {
	FONT-SIZE: 16px; COLOR: black; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.regWhite_10 {
	FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regWhite_11 {
	FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regWhite_12 {
	FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regWhite_13 {
	FONT-SIZE: 13px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regWhite_14 {
	FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regWhite_15 {
	FONT-SIZE: 15px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regWhite_16 {
	FONT-SIZE: 16px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldWhite_10 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldWhite_11 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldWhite_12 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldWhite_13 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldWhite_14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldWhite_15 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldWhite_16 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.udlineWhite_10 {
	FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineWhite_11 {
	FONT-SIZE: 11px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineWhite_12 {
	FONT-SIZE: 12px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineWhite_13 {
	FONT-SIZE: 13px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineWhite_14 {
	FONT-SIZE: 14px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineWhite_15 {
	FONT-SIZE: 15px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineWhite_16 {
	FONT-SIZE: 16px; COLOR: white; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.regGray_10 {
	FONT-SIZE: 10px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regGray_11 {
	FONT-SIZE: 11px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regGray_12 {
	FONT-SIZE: 12px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regGray_13 {
	FONT-SIZE: 13px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regGray_14 {
	FONT-SIZE: 14px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regGray_15 {
	FONT-SIZE: 15px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regGray_16 {
	FONT-SIZE: 16px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldGray_10 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldGray_11 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldGray_12 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldGray_13 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldGray_14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldGray_15 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldGray_16 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.udlineGray_10 {
	FONT-SIZE: 10px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineGray_11 {
	FONT-SIZE: 11px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineGray_12 {
	FONT-SIZE: 12px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineGray_13 {
	FONT-SIZE: 13px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineGray_14 {
	FONT-SIZE: 14px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineGray_15 {
	FONT-SIZE: 15px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineGray_16 {
	FONT-SIZE: 16px; COLOR: gray; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.regRed_10 {
	FONT-SIZE: 10px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regRed_11 {
	FONT-SIZE: 11px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regRed_12 {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regRed_13 {
	FONT-SIZE: 13px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regRed_14 {
	FONT-SIZE: 14px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regRed_15 {
	FONT-SIZE: 15px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regRed_16 {
	FONT-SIZE: 16px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldRed_10 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldRed_11 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldRed_12 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldRed_13 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldRed_14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldRed_15 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldRed_16 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.udlineRed_10 {
	FONT-SIZE: 10px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineRed_11 {
	FONT-SIZE: 11px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineRed_12 {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineRed_13 {
	FONT-SIZE: 13px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineRed_14 {
	FONT-SIZE: 14px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineRed_15 {
	FONT-SIZE: 15px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineRed_16 {
	FONT-SIZE: 16px; COLOR: red; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.regBlue_10 {
	FONT-SIZE: 10px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regBlue_11 {
	FONT-SIZE: 11px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regBlueEng_11 {
	FONT-SIZE: 11px; COLOR: blue; FONT-FAMILY: Arial, Verdana, Helvetica
}
.regBlue_12 {
	FONT-SIZE: 12px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regBlue_13 {
	FONT-SIZE: 13px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regBlue_14 {
	FONT-SIZE: 14px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regBlue_15 {
	FONT-SIZE: 15px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regBlue_16 {
	FONT-SIZE: 16px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldBlue_10 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldBlue_11 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldBlue_12 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldBlue_13 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldBlue_14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldBlue_15 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldBlue_16 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.udlineBlue_10 {
	FONT-SIZE: 10px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineBlue_11 {
	FONT-SIZE: 11px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineBlue_12 {
	FONT-SIZE: 12px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineBlue_13 {
	FONT-SIZE: 13px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineBlue_14 {
	FONT-SIZE: 14px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineBlue_15 {
	FONT-SIZE: 15px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineBlue_16 {
	FONT-SIZE: 16px; COLOR: blue; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.regDarkBlue_13 {
	FONT-SIZE: 13px; COLOR: #000099; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regFF6600_10 {
	FONT-SIZE: 10px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regFF6600_11 {
	FONT-SIZE: 11px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regFF6600Eng_11 {
	FONT-SIZE: 11px; COLOR: #ff6600; FONT-FAMILY: Arial, Verdana, Helvetica
}
.regFF6600_12 {
	FONT-SIZE: 12px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regFF6600_13 {
	FONT-SIZE: 13px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regFF6600_14 {
	FONT-SIZE: 14px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regFF6600_15 {
	FONT-SIZE: 15px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.regFF6600_16 {
	FONT-SIZE: 16px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldFF6600_10 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldFF6600_11 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldFF6600_12 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldFF6600_13 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldFF6600_14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldFF6600_15 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.boldFF6600_16 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
.udlineFF6600_10 {
	FONT-SIZE: 10px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineFF6600_11 {
	FONT-SIZE: 11px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineFF6600_12 {
	FONT-SIZE: 12px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineFF6600_13 {
	FONT-SIZE: 13px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineFF6600_14 {
	FONT-SIZE: 14px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineFF6600_15 {
	FONT-SIZE: 15px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.udlineFF6600_16 {
	FONT-SIZE: 16px; COLOR: #ff6600; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica; TEXT-DECORATION: underline
}
.reg3399CC_13 {
	FONT-SIZE: 13px; COLOR: #3399cc; FONT-FAMILY: Microsoft Sans Serif, Arial, Verdana, Helvetica
}
#news_bar {
	BACKGROUND:  url(url/bg_1.jpg);
	HEIGHT: 15px;
	width: 100%;
}
#news_bar1 {
	FONT-SIZE: 10px;
	MARGIN: 0px 1px 0px 0px;
	border: 1px solid #000000;
}

#news1 {
	FILTER: progid:DXImageTransform.Microsoft.Fade(duration=1); HEIGHT: 100px
}
#news2 {
	FILTER: progid:DXImageTransform.Microsoft.Fade(duration=1); HEIGHT: 100px
}
#news3 {
	FILTER: progid:DXImageTransform.Microsoft.Fade(duration=1); HEIGHT: 100px
}
#news4 {
	FILTER: progid:DXImageTransform.Microsoft.Fade(duration=1); HEIGHT: 100px
}
.news_head { 
}
.news_detail {
	BACKGROUND: #9A9A9A
}
.news_detail H3 {
	FONT-SIZE: 16px;
	BACKGROUND: #999999;
	MARGIN: 0px;
	COLOR: #ffffff;
	font-family: "MS Sans Serif", Tahoma, sans-serif;
	height: 10px;

}
.news_detail P {
	MARGIN: 3px 0px 0px; COLOR: #eac48b; TEXT-INDENT: 30px; HEIGHT: 65px
}
.textcolor {
	font-family: "Microsoft Sans Serif", "MS Sans Serif", sans-serif;
	font-size: 13px;
	color: #CC6600;
}
.reg3399CC_11 {
	font-family: "Microsoft Sans Serif", "MS Sans Serif", sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #3399CC;
}
